<template>
  <gl-new-dropdown text="Some dropdown" block>
    <gl-new-dropdown-item>First item</gl-new-dropdown-item>
    <gl-new-dropdown-item>Second item</gl-new-dropdown-item>
    <gl-new-dropdown-item>Last item</gl-new-dropdown-item>
  </gl-new-dropdown>
</template>
