<template>
  <gl-form-input-group>
    <template #prepend>
      <b-input-group-text>Username</b-input-group-text>
    </template>
    <template #append>
      <gl-deprecated-button variant="success">Add</gl-deprecated-button>
    </template>
  </gl-form-input-group>
</template>
