.gl-filtered-search-term {
  .gl-filtered-search-term-token {
    cursor: text;
  }
}

.gl-filtered-search-term-input {
  @include gl-p-0;
  @include gl-border-none;
  @include gl-outline-none;
  @include gl-h-6;
  min-width: $gl-dropdown-width;
}

.gl-filtered-search-term-icon {
  @include gl-mr-2;
}
