<template>
  <gl-button-group>
    <gl-deprecated-button>Button 1</gl-deprecated-button>
    <gl-deprecated-button>Button 2</gl-deprecated-button>
    <gl-deprecated-button>Button 3</gl-deprecated-button>
  </gl-button-group>
</template>
